div {
  font-family: Lora, sans-serif;
  text-align: left;
  font-size: 24;
  text-indent: 15px;
  line-height: 1.3em;
}

h1, h2, h3 {
  font-family: Merriweather, sans-serif;
  text-align: center;
}

h2, h3 {
  font-weight: 300;
}
.first-paragraph::first-letter{
    font-size: 50px;

}

#book-link {
  text-decoration: none;
  font-family: Lora, sans-serif;
}

#book-link:hover {
  text-decoration: underline;
  font-family: Lora, sans-serif;
  color: darkgray;
}

p {
  font-family: Lora, sans-serif;
}
