div {
  font-family: Lora, sans-serif;
  font-size: 24;
  line-height: 1.3em;
}

h1 {
  font-family: Merriweather, sans-serif;
  text-align: center;
  margin-top: 20px;
}

h4 {
  font-family: Merriweather, sans-serif;
  text-align: center;
  font-weight: 300;
}

p {
  font-family: Lora, sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 2px solid black;
  width: 200px;
  display: inline-block;
  margin: 30px;
}

.card:hover {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

.content {
  padding: 2px 10px;
}

.card a {
  color: black;
  text-decoration: none;
  font-family: Lora, sans-serif;
}
.card img {
  border-radius: 5px 5px 0 0;
  width: 200px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #3E3E3E;
    font-family: Merriweather;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: left;
}

.nav-item {
    display: inline-block;
    text-align: center;
    background-color: #3E3E3E;
    padding: .5em 1em;
    margin: 1em .2em;
}

.nav-item:hover {
    background-color: gray;
}

.nav-item a {
    color: #FFFFFF;
    text-decoration: none;
}

.main-container {
  padding-top: 60px;
  width: 70%;
  margin: auto;
}

.main-image {
  float: left;
  margin-right: 20px;
}

.source {
  text-align: center;
  font-family: Lora, sans-serif;
}

.source a {
  color: black;
}
